@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: PP Migra;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/PPMigra.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: PP Pangram Sans;
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/PPPangramSans-Extrabold.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: PP Mori;
  src: url(/fonts/PPMori.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --fontFamily-sans-0: PP Pangram Sans;
  --fontFamily-sans-2: sans-serif;
  --fontFamily-serif-0: PP Migra;
  --fontFamily-serif-2: serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/*::-webkit-scrollbar {*/
/*  width: 12px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*  background-color: transparent;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*  background-color: #d6dee1;*/
/*  border-radius: 20px;*/
/*  background-clip: content-box;*/
/*}*/

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.title {
  font-family: var(--fontFamily-serif-0), var(--fontFamily-serif-2);
  font-weight: 900;
  margin-bottom: 0;
}

.sub-title {
  font-family: var(--fontFamily-sans-0), var(--fontFamily-sans-2);
  font-weight: 800;
  line-height: 1.5rem;
  margin-top: -0.75rem;
  text-transform: capitalize;
}

.mori {
  font-family: PP Mori, serif;
}

.pop {
  font-family: Poppins, sans-serif;
}

.block-hitbox:hover .highlight {
  height: 100%;
}

@layer base {
  :root {
    --background: 224 71% 0%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
